@CHARSET "UTF-8";

/* Container for the icons in the header cell */
.headerbuttons {
	display: none;
	position: absolute;
	right: 4px;
	top: 0;
	bottom: 0;
}

/* Hover action over menu buttons */
.slick-header-column:hover > .headerbuttons,
.slick-header-column-active .headerbuttons {
  display: inline-block;
}

/* Button icon style */
.buttonicon {
	position: static;
	float: right;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;

	padding: 4px;
	height: 100%;
	border-left: thin ridge silver;
}


/* Header Menu Style */
.phpslick-headerdialog-menu {
	position: absolute;
	display: inline-block;
	margin: 0;
	padding: 2px;
	cursor: default;
	border: 1px solid #718BB7;
	background: #f0f0f0;
	padding: 2px;
	-moz-box-shadow: 2px 2px 2px silver;
	-webkit-box-shadow: 2px 2px 2px silver;
	min-width: 100px;
	z-index: 30000;
	margin:0;
	padding:0;
	border-radius: 8px;
	overflow:hidden;
}

.no-scroll {
	overflow: hidden;
}

.slick-column-name,
.slick-filter-indicator
.slick-sort-indicator {
  /**
   * This makes all "float:right" elements after it that spill over to the next line
   * display way below the lower boundary of the column thus hiding them.
   */
  display: inline-block;
  float: left;
  margin-bottom: 100px;
}

/* Make filter icon match sort indicator */
.slick-filter-indicator {
	color: #618ecf;
}